.contenedorDetProd{
  width: 98vw;
}

.artDetProducto{
  height: 600px;
}

.imgProducto{
  height: 350px;
  width: 350px;
}

.detallesProducto{
  height: 650px;
  position: relative;
  left: 355px;
  width: 983px;
  top: -350px;
  overflow: hidden;
}

.precio{
  position: relative;
  top: 25px;
}

.sinStock{
  background-color: #000;
  color: #fff;
  width: 123px;
  border-radius: 10px;
  padding-left: 18px;
}

.descripcion{
  position: relative;
  top: 20px;
  letter-spacing: 2px;
}

.botonesAgregarProducto{
  position: relative;
  top: 40px;
}

.tituloComentario{
  letter-spacing: 3px;
}

#comentario{
  resize: none;
}

.btnComentar{
  background-color: #f4ae2b;
}

.btnComentar:hover{
  background-color: #d79821;
}