.home,
.adminCategorias,
.adminProductos,
.adminUsuarios,
.pagContacto,
.pagBebidas,
.pagVideojuegos,
.pagIndumentaria,
.pagTecnologia,
.pagCarrito,
.pagFavoritos,
.pagQuienesSomos{
  margin-top: 125px;
}

.pagDetProducto{
  margin-top: -74px;
}

body{
  margin: 0;
  padding: 0;
}

.row{
  max-width: 100%;
}

.Spinner{
  height: 100vh;
}

.bg-error404{
  background-color: #f4ae2b;
  max-height: 100vh;
}

.imagenError404{
  width: 550px;
  height: 550px;
}

.divError404{
  position: relative;
  top: -64px;
}

@media (min-width: 375px) and (max-width: 474.98px){
  .bg-error404{
    background-color: #f4ae2b;
    height: 100vh;
    width: 100%;
  }

  .imagenError404{
    width: 365px;
    height: 365px;
  }
}

@media (min-width: 475px) and (max-width: 575.98px){
  .bg-error404{
    background-color: #f4ae2b;
    height: 100vh;
    width: 100%;
  }

  .imagenError404{
    width: 480px;
    height: 480px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  .bg-error404{
    background-color: #f4ae2b;
    height: 100vh;
    width: 100%;
  }

  .imagenError404{
    width: 580px;
    height: 580px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .bg-error404{
    background-color: #f4ae2b;
    height: 100vh;
    width: 100%;
  }

  .imagenError404{
    width: 660px;
    height: 660px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .bg-error404{
    background-color: #f4ae2b;
    height: 100vh;
    width: 100%;
  }

  .imagenError404{
    width: 950px;
    height: 950px;
  }
}