.contenedorCategorias{
  width: 100%;
}

.titulosCategorias{
  border: 1px solid black;
  position: relative;
  top: 16px;
  background-color: #f4ae2b;
  border-bottom: hidden;
  width: 520px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagenesCat{
  height: 420px; 
  width: 520px;
}

@media screen and (max-width: 320px){
  .titulosCategorias{
    width: 90vw;
  }

  .imagenesCat{
    width: 90vw;
  }
}