.navbar{
  background-color: #f4ae2b;
  height: 160px;
}

.logoEmpresa{
  position: relative;
  top: -25px;
}

.redesSoc{
  position: relative;
  top: -27px;
}

.botonesInicReg{
  position: absolute;
  top: 34px;
  right: 90px;
}

.contacto{
  position: absolute;
  right: 1091px;
  top: 103px;
}

.cerrarSesion{
  position: relative;
  right: 595px;
  top: 48px;
}

.admin{
  position: relative;
  right: 483px;
  top: 48px;
}


.contacto:hover{
  background-color: red;
}