.navbar{
  background-color: #f4ae2b;
  height: 160px;
  width: 1349px;
}

.logoEmpresa{
  position: relative;
  top: -25px;
}

.redesSoc{
  position: relative;
  top: -27px;
}

.botonesInicReg{
  position: absolute;
  top: 34px;
  right: 90px;
}

.iconosCyF{
  position: relative;
  top: -28px;
  right: 175px;
}

.bi-heart-fill{
  position: relative;
  top: 4px;
}

.badgeCarrito{
  position: relative;
  left: -25px;
  top: -25px;
}

.badgeFavoritos{
  position: relative;
  top: -25px;
  right: 3px;
}

.contacto{
  position: absolute;
  right: 1092px;
  top: 112px;
}

.inicio{
  position: absolute;
  right: 965px;
  top: 112px;
}

.cerrarSesion{
  position: absolute;
  right: 725px;
  top: 112px;
  width: 190px;
}

.admin{
  position: absolute;
  right: 463px;
  top: 116px;
  font-size: 29px;
}

.dropdown-menu{
  background-color: #f4ae2b;
}