.home,
.adminCategorias,
.adminProductos,
.adminUsuarios,
.pagContacto,
.pagBebidas,
.pagVideojuegos,
.pagCarrito,
.pagFavoritos,
.pagQuienesSomos{
  margin-top: 125px;
}

.pagDetProducto{
  margin-top: -74px;
}

body{
  margin: 0;
  padding: 0;
}

.row{
  max-width: 100%;
}

.Spinner{
  height: 100vh;
}

.bg-error404{
  background-color: #f4ae2b;
  max-height: 100vh;
}

.imagenError404{
  width: 550px;
  height: 550px;
}

.divError404{
  position: relative;
  top: -64px;
}