.home,
.adminCategorias,
.adminProductos,
.adminUsuarios,
.pagContacto,
.pagBebidas,
.pagVideojuegos,
.pagCarrito,
.pagFavoritos{
  margin-top: 125px;
}

.pagDetProducto{
  margin-top: -74px;
}

.cuerpo{
  height: 100vh;
}