.home,
.adminCategorias,
.adminProductos,
.adminUsuarios,
.pagContacto,
.pagBebidas,
.pagVideojuegos,
.pagCarrito,
.pagFavoritos,
.pagQuienesSomos{
  margin-top: 125px;
}

.pagDetProducto{
  margin-top: -74px;
}

.cuerpo{
  height: 100vh;
}

.tituloQuienesSomos{
  max-width: 300px;
}

.qs{
  max-width: 100px;
}